rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null
        && request.auth.token.email == "wiscode01@gmail.com";
    }

    match /projects/{projectId} {
      allow read: if resource.data.published == true || isOwner();
      allow write: if isOwner();
    }

    match /reviews/{reviewId} {
      allow read: if resource.data.published == true || isOwner();
      allow write: if isOwner();
    }

    match /site/{document=**} {
      allow read: if true;
      allow write: if isOwner();
    }
  }
}
